<%= render partial: 'breadcrumb'%>

<h1> Países</h1>
<p class=" mb-5">Pesquise total de confirmado, recuperados e mortos pela covid19 </p>
<div class="container">
  <%= form_with url: "/paises/", class:"mb-5 col-xs-4", method: :get do |form|  %>
      <%= form.text_field :status, class:"form-control mr-sm-2 mb-4 ", placeholder:"ex.: USA , indonesia"%>
      <%= form.submit "Pesquisar", class:"btn btn-outline-success my-2 my-sm-0 mb-5" %>
      <%= link_to 'limpar', paises_path, class:"btn btn-outline-primary my-2 my-sm-0 "  %>
  <% end %>
</div>

<%if @countries.present? == true %>
    <table class="table table-hover text-white text-center ">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">ISO2</th>
          <th scope="col">ISO3</th>
          <th scope="col">Confirmados</th>
          <th scope="col">Recuperados</th>
          <th scope="col">Mortos</th>
          <th scope="col">Ultimas Atualizações</th>
        </tr>
      </thead>
      <tbody>
        <% @countries.each do |countries|%>
            <tr>
                <th ><%= countries["name"]%></th>
                <th ><%= countries["iso2"]%></th>
                <th ><%= countries["iso3"]%></th>
                <th > - </th>      
                <th > - </th>        
                <th > - </th>         
                <th > - </th>                
            </tr> 
        <% end %>
      </tbody>
    </table>
    <%= render partial: 'bootstrap_nav', locals: {pagy: @pagy} %>
<%else%>
    <table class="table table-hover text-white text-center ">
      <thead>
        <tr>
          <th scope="col">Confirmados</th>
          <th scope="col">Recuperados</th>
          <th scope="col">Mortos</th>
        </tr>
      </thead>
      <tbody>
         <% @country.each do |status, index|%> 
              <th> <%= index["value"]%></th>
        <% end %>
      </tbody>
    </table>
<%end%>
