<%= render partial: 'breadcrumb'%>

<h1> Casos de Recuperação</h1>
<p>Lista de casos de cura da covid19 </p>
<table class="table table-hover text-white ">
  <thead>
    <tr>
      <th scope="col">País</th>
      <th scope="col">Cidade</th>
      <th scope="col">Recuperados</th>
      <th scope="col">Ultima Atualização</th>
    </tr>
  </thead>
  <tbody>
   <% @recovered.each do |recovered|%>
        <tr>
            <th ><%= recovered['countryRegion']%></th>
            <td ><%= recovered['provinceState']%></td>
            <td ><%= recovered['confirmed']%></td>
            <td ><%= Time.at(recovered['lastUpdate'].to_i/1000).strftime('%d/%m/%Y %H:%M:%S')%></td>
        </tr>
    <% end %>
  </tbody>
</table>

<% if @recovered.length > 0 %>
  <%= render partial: 'bootstrap_nav', locals: {pagy: @pagy} %>
<% else %>
  <div class="alert alert-success" role="alert">
    Atenção! informamos que o número de recuperação está zerado.
  </div>
<% end %>
